[submodule "JCTC-11-5468"]
	path = JCTC-11-5468
	url = https://github.com/jamesETsmith/JCTC-11-5468.git
[submodule "ppix_final"]
	path = ppix_final
	url = https://github.com/jamesETsmith/ppix_final
[submodule "symmetry_breaking_paper"]
	path = symmetry_breaking_paper
	url = https://github.com/ankit76/symmetry_breaking_paper
	branch = master
[submodule "fp_afqmc"]
	path = fp_afqmc
	url = https://github.com/ankit76/fp_afqmc
[submodule "benzene_dmc"]
	path = benzene_dmc
	url = https://github.com/iliya-s/benzene_dmc
[submodule "nevpt_vmc_paper"]
	path = nevpt_vmc_paper
	url = https://github.com/nsblunt/nevpt_vmc_paper
